<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangpos.datastructure">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".sort.BisearchActivity" />
        <activity android:name=".sort.EasyLinkListActivity" />
        <activity android:name=".sort.EasyLinkListReverseActivity" />
        <activity android:name=".sort.DirectInsertSortActivity" />
        <activity android:name=".sort.TimeComplexityActivity" />
        <activity android:name=".sort.SpaceComplexityActivity" />
        <activity android:name=".java.JavaThreadActivity" />
        <activity android:name=".sort.QuickSortActivity" />
        <activity android:name=".sort.BubbleSortActivity" />
        <activity android:name=".sort.BinaryTreeActivity" />
        <activity android:name=".sort.RecursionActivity"></activity>
        <activity android:name=".sort.OptionSortActivity"></activity>
        <activity android:name=".sort.HeapSortActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>