<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangpos.datastructure">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/datastruct"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sort.BisearchActivity" />
        <activity android:name=".sort.EasyLinkListActivity" />
        <activity android:name=".sort.EasyLinkListReverseActivity" />
        <activity android:name=".sort.DirectInsertSortActivity" />
        <activity android:name=".sort.TimeComplexityActivity" />
        <activity android:name=".sort.SpaceComplexityActivity" />
        <activity android:name=".java.JavaThreadActivity" />
        <activity android:name=".sort.QuickSortActivity" />
        <activity android:name=".sort.BubbleSortActivity" />
        <activity android:name=".sort.BinaryTreeActivity" />
        <activity android:name=".sort.RecursionActivity"></activity>
        <activity android:name=".sort.OptionSortActivity"></activity>
        <activity android:name=".sort.HeapSortActivity">
        </activity>
        <activity android:name=".sort.MergeSortActivity">
        </activity>
        <activity android:name=".sort.ShellSortActivity"></activity>
        <activity android:name=".sort.EightSortDescriptionActivity"></activity>
        <activity android:name=".sort.CountSortActivity"></activity>
        <activity android:name=".java.JavaWaitNotifyActivity"></activity>
        <activity android:name=".java.JavaThreadSummary"></activity>
        <activity android:name=".sort.MaxMinSelectActivity"></activity>
        <activity android:name=".sort.SelectIndexDataActivity"></activity>
        <activity android:name=".sort.MaxDataSelectDataActivity"></activity>
        <activity android:name=".sort.HashTableActivity"></activity>
        <activity android:name=".core.WebViewActivity"></activity>
        <activity android:name=".java.KeepMoreRequest"></activity>
        <activity android:name=".other.MaxSubStringActivity">

        </activity>
        <activity android:name=".graph.GraphActivity">
        </activity>
        <activity android:name=".graph.TopologicalOrderActivity">
        </activity>
        <activity android:name=".graph.DjstaActivity">

        </activity>
        <activity android:name=".java.ReferenceQueueActivity"/>
        <activity android:name=".java.JavaThreadPrincipleActivity"/>

        <activity android:name=".java.ArrayListActivity"/>
    </application>

</manifest>